.dialogs {
    display: grid;
    grid-template-columns:3fr 10fr;
    grid-template-areas: "dialogs messages";

}

.dialogs_items {
    grid-area:dialogs
}

.dialog {
    padding: 5px 5px 5px 5px;

}

.messages {

}

.message {
    padding: 5px 5px 5px 5px;
}
.active{
    color:red;
}