
.App {
  text-align: center;
  padding: 0 7% 0 7%;
}
.App__gird{
  display:grid;
  grid-template-columns: minmax(150px,1fr) 3fr;
  grid-template-rows: 50px max-content ;
  grid-gap: 10px ;
  grid-template-areas:
          "head head"
          "nav _content";
}
.App_content{
  grid-area: _content;
  background: #686a77;
  border: 1px solid #c3b1bd;
  border-radius: 7px;
}